/* Put your code here */
.grid {
    display: grid;
    /* grid-template-rows: 100px 200px;
    grid-template-columns: 200px auto 150px; */

    /* grid-template: 100px 200px / 200px auto 150px; */

    grid-template:
        [row1-start] 100px [row1-end row2-start] 100px [row2-end] /
        [col1-start] 200px [col1-end col2-start] auto [col2-end col3-start] 150px [col3-end];
}

.grid div:nth-child(1) {
    grid-row: auto / span 1;
}
.grid div:nth-child(2) {
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; */
    grid-row: row1-end / row2-start;
    grid-column: col2-end / col3-start;
}
