/* Put your code here */
.grid {
    display: grid;
    grid-template-rows: 60px 240px 120px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    background-color: #263238;
}

.main {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    background-color: #cccfd1;
}

.sidebar {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    background-color: #afb8bc;
}

.footer {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    background-color: #67676f;
}
