/* Put your code here */
.grid {
    display: grid;
    grid: 200px 200px / 1fr 1fr 1fr;
    grid-gap: 10px;
}

.three {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: rgba(0, 0, 80, 0.7);
    z-index: 1;
}
.four {
    grid-row: 1;
    grid-column: 2 / span 2;
    background-color: rgba(80, 0, 0, 0.7);
}
